body {
    font-family: Arial, sans-serif;
}

header {
    background: url('asset/img/frutillar.png') no-repeat center center;
    background-size: cover;
}

#inicio img {
    width: 100%;
    height: auto;
}

#quienes-somos {
    background-color: #222;
}

#quienes-somos h2,
#quienes-somos p {
    color: #fff;
}

#destacados .card {
    margin-bottom: 20px;
}

#contacto {
    background-color: #222;
}

#contacto h2,
#contacto .form-group label {
    color: #fff;
}



footer {
    background-color: #00cfff;
    color: #fff;
    padding: 20px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .social-links a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
}

footer .social-links a:hover {
    color: #d4d4d4;
}

.social-links a {
    font-size: 1.5rem;
}

.carousel-item {
    height: 700px;
    width: 100%;
    size: inherit;
}


.carousel-item img{
    background-position: center;
    width: 100%;
    height: 650px;
}

